:root {
  /* # COLORS */
  --white: #ffffff;
  --black: #000000;
  --black-20: #00000033;
  --dim-gray: #6a6a6a;
  --mountain-pine: #3a4f52;
  --ash-blue: #c3c9cc;
  --norse-blue: #4da7ca;
  --cerebral-gray: #cccccc;
  --artist-blue: #02383a;
  --artist-blue-70: #02383ab2;
  --december-eve: #405162;
  --blue-wing-teal: #2b3e51;
  --coronation: #f1f0f0;

  /* # FONT */
  font-size: 14px;
}

@font-face {
  font-family: "AlegreyaSans";
  src: url("../fonts/AlegreyaSans-Regular.ttf");
}

@font-face {
  font-family: "AlegreyaSC";
  src: url("../fonts/AlegreyaSC-Regular.ttf");
}

@font-face {
  font-family: "NixieOne";
  src: url("../fonts/NixieOne-Regular.ttf");
}

/* # GENERAL STYLING */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* # HEADER */

header {
  height: 447px;
  width: 100vw;
  background: url("../img/intro-bg.png") center/cover no-repeat;
}

.navbar {
  padding: 1.79rem 2.14rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h1 {
  color: var(--white);
  font-family: "AlegreyaSC";
  font-size: 2.57rem;
  font-weight: 500;
  line-height: 2.83rem;
}

.hamburger {
  height: 28px;
  width: 24px;
}

.hamburger img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* # INTRO */

.intro {
  height: 447px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  padding-bottom: 2rem;
}

.intro h2 {
  color: var(--white);
  font-family: "NixieOne";
  font-size: 2.8rem;
  font-weight: 400;
}

.intro p {
  color: #ffffff80;
  font-family: "AlegreyaSC";
  font-size: 1.2rem;
}

/* # PORTFOLIO */

.section-type-blank {
  background-color: var(--coronation);
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-type-blank-container {
  height: 100%;
  width: 100%;
}

.article-type-blank-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-type-blank-header-description h3 {
  color: var(--mountain-pine);
  font-family: "AlegreyaSans";
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 2.8rem;
  margin-bottom: 2rem;
}

.article-type-blank-header-description p {
  color: var(--dim-gray);
  font-family: Helvetica;
  line-height: 1.4rem;
}

.article-type-blank-header a button {
  border: 1px solid var(--mountain-pine);
  color: var(--mountain-pine);
  font-family: Helvetica;
  font-size: 1.2rem;
  line-height: 1.7rem;
  padding: 0.8rem 1.2rem;
}

.portfolio-items {
  width: 100%;
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 345px;
  justify-content: center;
  gap: 2.2rem;
}

.portfolio-item-container {
  height: 206px;
  width: 345px;
  position: relative;
  overflow: hidden;
}

.portfolio-item-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portfolio-item-container .fill-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--artist-blue-70);
}

.portfolio-item-container .portfolio-item-btn {
  height: 34px;
  width: 109px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--white);
  color: var(--white);
  background-color: transparent;
  padding: 7px 13px;
  font-family: Helvetica;
  line-height: 1.4rem;
  text-align: center;
}

/* # SERVICES */

.section-type-bg {
  background: url("../img/services-bg.png") center/cover no-repeat;
  padding: 6rem 0;
}

.section-type-bg-container {
  background-color: var(--black-20);
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}

.article-type-bg-header h3 {
  color: var(--white);
  font-family: "AlegreyaSans";
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 2.8rem;
  margin-bottom: 1rem;
  text-align: center;
}

.article-type-bg-header p {
  color: var(--white);
  font-family: Helvetica;
  line-height: 1.4rem;
  text-align: center;
}

.services-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.services-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.icon-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-title-wrapper h4 {
  color: var(--white);
  font-family: "AlegreyaSans";
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 2.4rem;
}

.services-item-container p {
  color: var(--white);
  font-family: Helvetica;
  line-height: 1.4rem;
  text-align: center;
}

/* # BLOG */

.blog-items {
  width: 100%;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.2rem;
}

.blog-item-container {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.blog-item-container img {
  width: 100%;
}

.blog-item-container h4 {
  color: var(--mountain-pine);
  font-family: "AlegreyaSans";
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 2.4rem;
}

.blog-item-container p {
  color: var(--dim-gray);
  font-family: Helvetica;
  line-height: 1.4rem;
}

.blog-item-container p:nth-of-type(1) {
  font-style: italic;
}

.blog-item-container a {
  color: var(--norse-blue);
  font-family: Helvetica;
  line-height: 1.4rem;
}

/* # PARALLAX */

.parallax {
  background-image: url("../img/lower-section-bg.png");
}

.parallax-container button {
  border: 1px solid var(--white);
  color: var(--white);
  background-color: transparent;
  font-family: Helvetica;
  font-size: 1.2rem;
  line-height: 1.7rem;
  padding: 0.8rem 1.2rem;
}

/* # TESTIMONIALS */

.testimonials-header h3 {
  color: var(--mountain-pine);
  font-family: "AlegreyaSans";
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 2.8rem;
  margin-bottom: 1rem;
  text-align: center;
}

.testimonials-header p {
  color: var(--dim-gray);
  font-family: Helvetica;
  line-height: 1.4rem;
  text-align: center;
}

.testimonials-items {
  width: 100%;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.9rem;
}

.testimonials-picutre-wrapper {
  height: 150px;
  width: 150px;
}

.testimonials-picutre-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.testimonials-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.1rem;
}

.testimonials-item-container p {
  color: var(--dim-gray);
  font-family: Helvetica;
  line-height: 1.4rem;
  text-align: center;
}

.name-wrapper h4 {
  color: var(--dim-gray);
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4rem;
  text-align: center;
}

.name-wrapper p {
  color: var(--dim-gray);
  font-family: Helvetica;
  line-height: 1.4rem;
  text-align: center;
}

/* # CONTACT */
.contact {
  background-image: url("../img/contact-bg.png");
}

.contact-container {
  gap: 2.2rem;
}

.contact-form {
  width: 100%;
}

.contact-form form fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
  border: none;
}

.contact-form form fieldset input {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--cerebral-gray);
  border-radius: 4px;
  color: var(--white);
  font-family: Helvetica;
  padding: 0.8rem 1rem;
}

.contact-form form fieldset input::placeholder {
  color: var(--white);
  font-family: Helvetica;
}

.contact-form form fieldset textarea {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--cerebral-gray);
  border-radius: 4px;
  color: var(--white);
  font-family: Helvetica;
  padding: 0.8rem 1rem;
}

.contact-form form fieldset textarea::placeholder {
  color: var(--white);
  font-family: Helvetica;
}

.contact-form button {
  border: 1px solid var(--white);
  color: var(--white);
  background-color: transparent;
  font-family: Helvetica;
  font-size: 1.2rem;
  line-height: 1.7rem;
  padding: 0.8rem 1.2rem;
}

/* # FOOTER */

footer {
  height: 160px;
  background-color: var(--blue-wing-teal);
  padding: 2rem 1rem;
}

footer p {
  color: var(--white);
  font-family: Helvetica;
  line-height: 1.4rem;
}
